@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to SDC API Test Web</h1><br />
        <h2>List of API</h2><br />
                            <div class="container">
                                <a asp-area="" asp-controller="Clients" asp-action="Index"><h3>Clients</h3></a>
                                <a asp-area="" asp-controller="CodeCategories" asp-action="Index"><h3>Code Categories</h3></a>
                                <a asp-area="" asp-controller="CodeLists" asp-action="Index"><h3>Code Lists</h3></a>
                                <a asp-area="" asp-controller="Draperies" asp-action="Index"><h3>Draperies</h3></a>
                                <a asp-area="" asp-controller="Employees" asp-action="Index"><h3>Employees</h3></a>
                                <a asp-area="" asp-controller="Invoices" asp-action="Index"><h3>Invoices</h3></a>
                                <a asp-area="" asp-controller="Items" asp-action="Index"><h3>Items</h3></a>
                                <a asp-area="" asp-controller="JobTypes" asp-action="Index"><h3>Job Types</h3></a>
                                <a asp-area="" asp-controller="Products" asp-action="Index"><h3>Products</h3></a>
                                <a asp-area="" asp-controller="Projects" asp-action="Index"><h3>Projects</h3></a>
                                <a asp-area="" asp-controller="PurchaseOrders" asp-action="Index"><h3>Purchase Orders</h3></a>
                                <a asp-area="" asp-controller="PurchaseOrderDetails" asp-action="Index"><h3>Purchase Order Details</h3></a>
                                <a asp-area="" asp-controller="PurchaseStocks" asp-action="Index"><h3>Purchase Stocks</h3></a>
                                <a asp-area="" asp-controller="Rooms" asp-action="Index"><h3>Rooms</h3></a>
                                <a asp-area="" asp-controller="Suppliers" asp-action="Index"><h3>Suppliers</h3></a>
                                <a asp-area="" asp-controller="SupplierLogins" asp-action="Index"><h3>Supplier Logins</h3></a>
                                <a asp-area="" asp-controller="SupplierOrders" asp-action="Index"><h3>Supplier Orders</h3></a>
                            </div>
    </div>
